Binaries
DerivedDataCache
Intermediate
Saved
Build/Windows
Platforms/HoloLens
enc_temp_folder
Plugins/Developer/RiderLink/

.vsconfig
.vscode
.vs
.idea/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log

Content/COMMIT_OFF
